@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

@font-face {
    font-family: Matrix;
    src: url(./css/fonts/matrix.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  font-family: 'Roboto' !important;
}

a {
    text-decoration: none;
}

.content {
  margin: 0 auto;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.large-card.mdl-card{
  width:100%;
  margin: 0 auto;
}

.schedule-card.mdl-card{
  width:100%;
}

.schedule__cell {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2%;
}

.staffPhoto {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.pad {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

  .toc h4 {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .toc a {
    color: #4DD0E1;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    display: block;
  }

.scrollable {
  height: 100px;
  overflow-y: auto;
  overflow-x:hidden;
}

.overflow.mdl-card__title-text {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: auto;
}

.terminal {
  background-color: black;
  color: white;
  font-family: monospace;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}

// SCROLLBAR CSS
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track:horizontal {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(225,233,241,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(225,233,241,0.4);
}

// Staff Photo CSS
.card-staff.mdl-card {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

code {
  background-color: rgb(241,233,225);
  opacity: 0.9;
}
body {
  background-color: #FAFAFA !important;
}
