<div class = "row" ng-controller = 'OverviewController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
    <h1>Know Your Tools</h1>
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#lab1/#intro">Intro</a>
      <a href="#lab1/#vms">VMs</a>
      <a href="#lab1/#svn">SVN</a>
      <!-- <a href="#lab1/#gitlab">GitLab</a> -->
      <a href="#lab1/#misc">Valgrind + GDB + Clang</a>
      <!-- <a href="#lab1/#badc">5 Bad C Programs</a> -->
      <a href="#lab1/#attendance">Lab Attendance</a>
      <a href="#lab1/#hw0">HW0</a>
    </ul>
    <div class = "pad">
      <div id = "intro" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Introduction</h2>
        </div>
        <div id = "intro" class = "content">
            <ul>
                <li>
                    Please introduce yourself (lab assistants should go first) to the rest of your class.
                </li>
                <li>
                    Tell everyone your name, grade, and one interesting fact about yourself.
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "vms" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">VMs</h2>
        </div>
        <div class = "content">
          In this course we are using the VMs for all our development so it is important that you learn how to use them.
          Note: That this VM is part of the CS Cloud and we will not support any other machine for grading.
          This means that you should test on this VM and and not any other machine
          (this includes the CS2XX VM you received in CS 225, EWS, and your local machine).
          This is to your benefit, since the grading VM is identical to your VM.
          Please ssh or FastX into your VM. I have provided the ip in your svn repo.
          If you want to ssh in and your netid is 'bschong2' and your hostname is 'sp16-cs241-000.cs.illinois.edu',
          then all you need to do is enter <pre class = "terminal">ssh bschong2@sp16-cs241-000.cs.illinois.edu</pre> into your terminal.
          <!-- TODO: INCLUDE RESOURCE ABOUT DEVELOPING IN 241. -->
          If you want a GUI, then you should use FastX and follow these <a href = "https://it.engineering.illinois.edu/user-guides/remote-access/connecting-ews-linux-fastx">instructions</a> or add the -Y flag.

          We also have this nice, <a href = "./#developing">Developing in 241 guide</a> to solve your problems and (hopefully) make getting started in setting up your dev environment much easier.
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "svn" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">SVN</h2>
        </div>
        <div class = "content">
          In this course we are using SVN to submit all our assignments<br/><br/>
          <strong>Once you are in your VM</strong> please checkout your svn repo with the following command
          <pre class = "terminal">svn co https://subversion.ews.illinois.edu/svn/sp16-cs241/YOUR-NETID cs241</pre>
          which will check out your entire SVN repo into a folder called 'cs241' into your current directory.
          Now change your directory into the 'cs241' folder <pre class = "terminal">cd cs241</pre>
          and create a 'know_your_tools' folder <pre class = "terminal">mkdir know_your_tools</pre>
          Now check the status of your repo <pre class = "terminal">svn status</pre>
          and notice that you now have a 'know_your_tools' folder that needs to be added.
          Add the 'know_your_tools' folder to svn <pre class = "terminal">svn add know_your_tools</pre>
          and commit it <pre class = "terminal">svn ci -m "adding the know_your_tools folder"</pre>
        </div>
      </div>
    </div>
    <!-- <div class = "pad">
      <div id = "gitlab" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">GitLab</h2>
        </div>
        <div class = "content">
          In this course we are using GitLab to host all our code examples<br/><br/>
          <strong>Once you are in your VM</strong> please go to <a href = "https://gitlab-beta.engr.illinois.edu/">https://gitlab-beta.engr.illinois.edu/</a> to register for an account (use your netid and AD password).
          Now check out your first git repo for this class (outside of your SVN directory)!
          <pre class = "terminal">git clone https://gitlab-beta.engr.illinois.edu/cs241fa15/Check_Me_Out.git</pre>
        </div>
      </div>
    </div> -->
    <div class = "pad">
      <div id = "misc" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Valgrind + GDB + Clang</h2>
        </div>
        <div class = "content">
          In this course you will need to know how to use Valgrind + GDB + Clang<br/><br/>
          <strong>Once you are in your VM</strong> please create a file called 'dumb.c' in your know_your_tools directory that you just made.
          Now write a valid C program in 'dumb.c' that will segfault.
          Now compile with clang <pre class = "terminal">clang dumb.c -o dumb -g</pre>
          Run it to make sure it segfaults <pre class = "terminal">./dumb</pre>
          Run valgrind to see what line it segfaults on <pre class = "terminal"> valgrind ./dumb</pre>
          Run gdb to see what line it segfaults on
<pre class = "terminal">
gdb ./dumb
run
backtrace
</pre>
          Then exit gdb <pre class = "terminal">quit</pre>
          Now commit 'dumb.c' to your know_your_tools folder on svn (I leave this as an exercise to the reader).
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "attendance" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Lab Attendance</h2>
        </div>
        <div class = "content">
          Part of your grade in this class is to attend labs.
          Toward the end of every lab we will ask you to swipe out.
          You may only leave early if you show that you have finished the lab to your lab attendant
          or if the lab attendant calls the time.
          If you are late (like more than 10 minutes),
          then your lab attendant reserves the right to not swipe you for the day.
          You may never swipe yourself out without your lab attendant's consent
          (any violation will result in a 0 in lab attendance for the semester).
          Also, you must attend the lab section you have been assigned to unless
          you have an exemption from our GA (cs241admin@illinois.edu).
          We will never grant exemptions for lab attendance
          (if you have an interview, then you are just going to have to use your drop).
          You also can not make up lab attendance.
          Attendance grades will be uploaded to <a href = "https://chara.cs.illinois.edu/gb">Chara</a> every Friday 11:59pm.
          You have until Friday 11:59pm of the next week to refute attendance grades.
          Note that forgetting to swipe out is not a valid excuse (your lab attendant is not allowed to vouch for your attendance).
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "hw0" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">HW0</h2>
        </div>
        <div class = "content">
          You have already been assigned a <a href = "https://github.com/angrave/SystemProgramming/wiki/HW0">HW0</a> for this class.
          The lab instructors will go around to make sure that you have made progress on this assignment.
          For your final submission you must submit a pdf called "hw0.pdf" in your "know_your_tools" folder.
          This is due with the rest of this lab.
          If you finish the lab early we recommend sticking around and getting help from the lab assistants.
        </div>
      </div>
    </div>

    <!-- <div class = "pad">
      <div id = "badc" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">5 Bad C Programs</h2>
        </div>
        <div class = "content">
          Now onto the main part of the lab<br/><br/>
          Please form a group of 4 to 6 and show everyone your bad C programs and explain the errors made in your code.
          After that, as a group create a new sneaky but short C example and see if you can hide a deliberate mistake in it.
          Challenge the rest of the lab to see if they can spot the error.
          20 lines of code maximum (excluding blank lines) - the errors not obvious but still 'in plain sight'.
          To recieve credit for this portion you must do the following:
          <ul>
              <li>You need to create a folder called 'badC' in your 'know_your_tools' directory.</li>
              <li><strong>In 'badC'</strong> create 5 files named 'bad_1.c', 'bad_2.c' ... etc.</li>
              <li>These files need to compile (with Clang), but warnings are ok!</li>
              <li>These mistakes can be similar to the ones on the wiki (but the code needs to be different).</li>
              <li>Each file should have a <strong>distinct</strong> error and comments explaining it.</li>
              <li>Check your spelling!</li>
              <li>Commit all work to SVN.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>
