<div class = "row" ng-controller = 'OverviewController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
    <h1>Extreme Edge Cases</h1>
    <!-- <h2>DO NOT START LAB UNLESS TOLD TO DO SO! (WE MIGHT CHANGE THE SPECS)</h2> -->
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#lab2/#backstory">Backstory</a>
      <a href="#lab2/#unittesting">Unit Testing</a>
      <a href="#lab2/#camelCaser">Camel Caser</a>
      <a href="#lab2/#memory">Camel Caser Result In Memory</a>
      <a href="#lab2/#testcases">Writing Test Cases</a>
      <a href="#lab2/#files">Files</a>
    </ul>
    <!-- Demo -->
    <div class = "pad">
      <div id = "backstory" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Backstory</h2>
        </div>
        <div class = "content">
            <p>What makes code good? Is it camelCase? Lots of comments? Descriptive variable names, perhaps?</p>

            <p>One thing we know is that good code is generally modular--it consists of discrete "units" of functionality that are only responsible for certain behavior. In our case, where we're working with C, these units are primarily functions.</p>

            <p>For example, the C string function strlen is responsible solely for determining the length of a string; it doesn't do any I/O or networking. A function that knows all and tries to do all would be bad design, and testing whether that kind of function adheres to expectations would be nontrivial.</p>

            <p>A programmer might ask, "Do my units of work behave the way I expect? If my function expects a string, how does it behave when given NULL?". These are crucial questions, since ensuring that units of code work exactly the way one would expect makes it easy to build reliable and robust software. An unreliable unit in a large system can affect the entire system significantly. Imagine if strcpy, for example, did not behave properly on all inputs; all of the higher-level units that use strcpy, and all of the units that interact with those units, would in-turn have unpredictable behavior, and so the unreliablity would propagate through the whole system.</p>

            <p>Enter unit testing.</p>
        </div>
      </div>
    </div>
    <!-- Demo -->
    <div class = "pad">
      <div id = "unittesting" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Unit Testing</h2>
        </div>
        <div class = "content">
            <p>Unit testing is a ubiquitous and crucial software development method used heavily in industry. According to artofunittesting.com, a unit test is an automated piece of code that invokes a unit of work in the system and then checks a single assumption about the behavior of that unit of work. This sounds like testing--leave it to the QAs, right? Actually, developers, much to their chagrin, are expected to write their own unit tests.</p>

            <p>In order to write effective unit tests, all possible cases of input to a unit (mainly functions, in C), including edge cases, should be tested. Good unit tests test (extreme) edge cases, making sure that the discrete unit of functionality performs as specified with unexpected inputs.</p>

            <p>In this Lab, your goal is to create and test the behavior of an arbitrary string manipulation function to determine if it is  reliable and predictable. While writing your functions, try and write modular code--this will make your life easier when you test it. You'll learn how to write effective test cases--an incredibly helpful skill for the rest of the course. Finally, you'll be able to take these skills to Facenovel for your next internship and impress your coworkers.</p>
        </div>
      </div>
    </div>

    <!-- Demo -->
    <div class = "pad">
      <div id = "camelCaser" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Camel Caser</h2>
        </div>
        <div class = "content">
<p>We have chosen</p>
<pre class = "terminal">char ** camel_caser(const char* input)</pre>
<p>as your arbitrary string manipulation function.</p>

<p>Your manager, to celebrate Hump Day, has asked all of the interns to implement a brand new camelCaser to convert sentences into camelCase. To give you a chance to earn your return offer, he also assigned you to write test cases for all the other interns' implementations of camelCaser, with the implementation hidden from you.</p>

<p>Let's say I want to get a sequence of sentences in camelCase. This is the string passed into your method:</p>

<pre class = "terminal">
"The Heisenbug is an incredible creature. Facenovel servers get their power from its indeterminism. Code smell can be ignored with INCREDIBLE use of air freshener. God objects are the new religion."
</pre>

<p>Your method should return the following:</p>

<pre class = "terminal">
["theHeisenbugIsAnIncredibleCreature",
"facenovelServersGetTheirPowerFromItsIndeterminism",
"codeSmellCanBeIgnoredWithIncredibleUseOfAirFreshener",
"godObjectsAreTheNewReligion",
NULL]
</pre>
<p>
  The brackets denote that the above is an array of those strings. (More details in this <a href = "#lab2/#memory">section</a>)
</p>
<ul>
<li>A NULL pointer is undefined for camelCaser, so you should just return a NULL pointer.</li>
<li>A input sentence, <code>input_s</code>, is defined as any MAXIMAL substring of the input string that ends with a punctuation mark and does not contain a punctuation mark.
<ul>
<li>This means that “Hello.World.” gets split into 2 sentences “Hello.” and “World.” and NOT “Hello.World.”.</li>
</ul>
</li>
<li>Let the camelCasing of <code>input_s</code> be called <code>output_s</code></li>
<li><code>output_s</code> is the the concatenation of all words <code>w</code> in <code>input_s</code> after <code>w</code> has been camelcased
<ul>
<li>The puncation from <code>input_s</code> is not added to <code>output_s</code></li>
</ul>
</li>
</ul>
<ul>
<li>
<p><code>w</code> is camelCased iff</p>
<ul>
<li>it is first lowercased and if it is not the first word in the sentence, then it has its first letter uppercased.</li>
</ul>
</li>
<li>
<p>words are</p>
<ul>
<li>delimited by the MAXIMAL amount of whitespace
<ul>
<li>This means that “hello   world” is split into “hello” and world&quot; and NOT &quot;hello &quot;, &quot; “, &quot; world” or any other combination of whitespaces</li>
</ul>
</li>
<li>considered uppercased words if all of its letters are uppercased.</li>
<li>considered lowercased words if all of its letters are lowercased.</li>
</ul>
</li>
<li>
<p>punctuation marks, whitespace, and letters are defined by <code>ispunct()</code>, <code>isspace()</code>, and <code>isalpha()</code> respectively.</p>
<ul>
<li>These are parts of the C standard, so you can <code>man ispunct</code> for more information.</li>
</ul>
</li>
<li>
<p>Finally, you return an array of <code>output_s</code> for every <code>input_s</code> in the input string terminated by a NULL pointer.</p>
</li>
</ul>
<p>We have also included a reference implementation in the folder named “reference”. In the reference folder you can find the main file, which will let you interact with the reference implementation. This means that if you have a question like “what should be the result of inputting &lt;blah&gt; into camel_caser()”, then you should try it out in the reference main file.</p>
<p>Your implementation goes in camelCaser.c and you may not leak any memory.</p>
        </div>
      </div>
    </div>

    <!-- Demo -->
    <div class = "pad">
      <div id = "memory" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Camel Caser Result In Memory</h2>
        </div>
        <div class = "content">
          <p>camelCaser takes in a C string, which represents an arbitrary amount of sentences and returns a pointer to a NULL terminated array of C strings where each sentence has been camelCased. Note that all the C strings must be in their own buffers (1 malloc per camelCased sentence).</p>
          <p>For those who like pictures I will explain what the return value of camelCaser looks like in memory.</p>
          <img src="./data/resources/char_double_pointer.jpg"/>
          <p>
            In the above picture you can see that we have a char double pointer called 'array'.
            Now in this scenario the char double pointer is a character pointer that points to the beginning of a NULL terminated array of character pointers.
            Each of the character pointers in the array point to the beginning of a NULL terminated char array that can be anywhere in memory in a separate buffer.
            The reason why these arrays are NULL terminated is because your user will need to know when these arrays end so they do not start reading garbage values.
            This means that <pre class = "terminal">array[0]</pre> will return a character pointer.
            Dereferencing that character pointer gets me an actual character.
            For demonstration purposes I am going to show you how to grab the character "s" in "as".
<pre class = "terminal">
// Take array and move it over by 3 times the size of a char pointer.
char **ptr = array + 3;
// Deference ptr to get back a character pointer pointing to the beginning of "as".
char *as = *ptr;
// Take that pointer and move it over by 1 times the size of a char.
char *ptr2 = as + 1;
// Now dereference that to get an actual char.
char s = *ptr2;
</pre>
          </p>
        </div>
      </div>
    </div>

    <!-- Demo -->
    <div class = "pad">
      <div id = "testcases" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Writing Unit Tests</h2>
        </div>
        <div class = "content">
            <p>Your goal is to show that the other interns’ implementations of camelCaser–which, of course, you can’t see directly–fail on some extreme test cases, and, in the meantime, demonstrate to the head honcho at Facenovel exactly how robust your own function is.</p>
<p>Facenovel promises to pass in C-strings. Likewise, you promise to return a dynamically allocated NULL terminated array of strings (the array and the strings both on the heap and each string in separate buffers).</p>
<p>What kinds of edge cases might come up?</p>
<p>Run make camelCaser to test. You will have to fill in tests in camelCaser_tests.c.</p>
<p>Because Facenovel values their testing server time you may not try more than 16 different inputs and each input must be less than 128 characters (only characters). This does NOT mean your implementation can assume input of 128 characters or less.</p>
<p>Also it is not in the spirit of unit testing to diff your implementation with the one you are testing. So for this lab you may not call on your own camel_caser when implementing the tester.</p>
        </div>
      </div>
    </div>

    <!-- Demo -->
    <div class = "pad">
      <div id = "files" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Files</h2>
        </div>
        <div class = "content">
            <ul>
                Files Provided:
                <li>camelCaser_main.c - Calls your unit tester</li>
                <li>reference - Contains the reference implementation of camelCaser</li>
            </ul>
            <ul>
                Files Sent to Team Lead for Review:
                <li>camelCaser.c - Contains your implementation of camelCaser</li>
                <li>camelCaser_tests.c - Contains your unit tester for a camelCaser implementation</li>
            </ul>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>
