<div class = "row" ng-controller = 'OverviewController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
    <h1>Utilities Unleashed</h1>
    <!-- <h2>DO NOT START LAB UNLESS TOLD TO DO SO! (WE MIGHT CHANGE THE SPECS)</h2> -->
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#lab3/#demo">Demo</a>
      <a href="#lab3/#overview">Overview</a>
      <a href="#lab3/#format">format.c and .h</a>
      <a href="#lab3/#objectives">Learning Objectives</a>
      <a href="#lab3/#reference">Reference Executables</a>
      <a href="#lab3/#setup">Setup</a>
      <a href="#lab3/#time">time</a>
      <a href="#lab3/#env">env</a>
    </ul>
    <!-- Demo -->
    <div class = "pad">
      <div id = "demo" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Demo</h2>
        </div>
        <div class = "content">
          <h6>Your section leaders will demo a working implementation of all the C utilities.</h6>
        </div>
      </div>
    </div>
    <!-- Learning Objectives -->
    <div class = "pad">
      <div id = "objectives" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Learning Objectives</h2>
        </div>
        <div class = "content">
          <ul>
            <li>C Utilities</li>
            <li>Fork, Exec, Wait</li>
            <li>Environmental Variables</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Overview -->
    <div class = "pad">
      <div id = "overview" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Overview</h2>
        </div>
        <div class = "content">
          <h6>In this lab, you will be implementing the following C utilities:</h6>
          <ul>
            <li><a href="#lab3/#time">time</a></li>
            <li><a href="#lab3/#env">env</a></li>
          </ul>
          <h6>Notes</h6>
          <ul>
            <li>Do not worry about flags or features that we do not mention.</li>
            <li>Do not print any of your debug information out for your final submission.</li>
            <li>All printing should be handled with format.h.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Format -->
    <div class = "pad">
      <div id = "format" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">format.c and .h</h2>
        </div>
        <div class = "content">
            Since this lab requires your programs to print error messages to stdout and stderr,
            we have provided you with format.c and format.h.
            You should not be printing out to stdout and stderr at all;
            instead, you should be using the functions provided in format.c and .h.
            In format.h you can find documentation of what each function does and you
            should use them whenever approriate.
            This is our way of ensuring that you do not lose points for formatting issues,
            but it also means that you are responsible for handling any and all errors mentioned
            in format.c and format.h.
        </div>
      </div>
    </div>
    <!-- Reference Executables-->
    <div class = "pad">
      <div id = "reference" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Reference Executables</h2>
        </div>
        <div class = "content">
              For this lab, we have provided the following reference executables:
              <ul>
                <li>time_reference</li>
                <li>env_reference</li>
              </ul>
              These are correct implementations of the programs you are being asked to make.
              How your programs should behave in edge cases are answerable by using the reference executables.
              For example, if you are wondering "What should time do if not given the correct number of arguments?"
              then just try it out:
              <pre class = "terminal">./time_reference</pre>
              and you should see the following output:
<pre class = "terminal">

     ./time &lt;command&gt; [args]

</pre>
        </div>
      </div>
    </div>
    <!-- Setup -->
    <div class = "pad">
      <div id = "setup" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Setup</h2>
        </div>
        <div class = "content">
          <pre class = "terminal">
cd ~/cs241
svn up
cd utilities_unleashed</pre>
        </div>
      </div>
    </div>
    <!-- time -->
    <div class = "pad">
      <div id = "time" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">time</h2>
        </div>
        <div class = "content">
            <div>
                <h6>In this lab, you will be implementing 'time'.</h6>
                time &ndash; run a program and reports how long it took.
                So if a user enters
                <pre class = "terminal">./time sleep 2</pre>
                then time will run 'sleep' with the argument '2' and record how long it took in seconds.
                <pre class = "terminal">2.002345 seconds</pre>
                Note that we only care about wall clock time and we recommend <a href = "http://linux.die.net/man/3/clock_gettime">clock_gettime</a> and CLOCK_MONOTONIC.<br>
                Pro Tip: 1 second == 1,000,000,000 nanoseconds.<br>
                Nota Bene:
                <ul>
                  <li>You MAY NOT call on the existing time program.</li>
                  <li>You must use fork, exec, wait (no other solutions will be accepted).</li>
                  <li>You need to account for programs that do not terminate successfully.</li>
                  <li>We will only run your time with one program.</li>
                  <li>The commands we will run can take any number of arguments.</li>
                  <li>Do your time computations with double-precision floating pointer numbers (double) rather that single-precision (float).</li>
                  <li>We have provided functions in format.h that we expect you to use wherever appropriate.</li>
                </ul>
            </div>
            <div>
                <h6>Useful Resources</h6>
                <ul>
                  <li><a href="http://cs-education.github.io/sys/#chapter/2/section/0/activity/0">Program arguments argc argv</a></li>
                  <li><a href="https://github.com/angrave/SystemProgramming/wiki/Forking%2C-Part-2%3A-Fork%2C-Exec%2C-Wait">Fork/Exec/Wait</a></li>
                  <li><a href="http://cs-education.github.io/sys/#chapter/5/section/1/activity/0">Fork and Waitpid</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- env -->
    <div class = "pad">
      <div id = "env" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">env</h2>
        </div>
        <div class = "content">
          <h6>In this lab, you will be implementing 'env'.</h6>
          env &ndash; run a program in a modified environment
          When run without arguments, it prints a list of all the current environment variables.
          When run with arguments, it will be given at least two arguments:
          <pre class = "terminal">./env &lt;var-list&gt; &lt;command-name&gt;</pre>
          <ul>
            <li>&lt;var-list&gt; is a comma-separated list of changes that are to be made to environment variables, and &lt;command-name&gt; is the name of a command that is to be run after making those changes.</li>
            <li>Any additional arguments are to passed as arguments to &lt;command-name&gt;.</li>
            <li>Each of the environment variable changes in &lt;var-list&gt; are in the form &lt;destvar&gt;=&lt;value&gt;.</li>
            <li>&lt;destvar&gt; is the name of the environment variable that is to be changed and &lt;value&gt; is the new value.</li>
            <li>&lt;value&gt; may contain references to environment variables in the form %&lt;srcvar&gt;.</li>
            <li>Each reference to &lt;srcvar&gt; should be replaced with the value of &lt;srcvar&gt;.</li>
            <li>The names of the variables &lt;destvar&gt; and &lt;srcvar&gt; will contain only letters, numbers, or underscore characters.</li>
            <li>For each environment variable change in &lt;var-list&gt;, your program will assign &lt;value&gt; to &lt;destvar&gt; in the current environment so when &lt;command-name&gt; is executed, it will inherit the new value of the &lt;destvar&gt; variable.</li>
          </ul>
          For example if the user enters
          <pre class = "terminal">./env</pre>
          then you should print out all the environment variables.
          Try
          <pre class = "terminal">env</pre>
          in your terminal to see it in action.
          For example, if the user enters
          <pre class = "terminal">./env TZ=MST7MDT date</pre>
          then it changes the TZ environment variable while running the date command.
          And if the user enters
          <pre class = "terminal">./env PATH=%HOME/bin:%PATH,IDIR=/%HOME/include,LIBDIR=/%HOME/lib make -j4</pre>
          then it changes the PATH, IDIR, and LIBDIR variables while running make with the j4 option.
          We will always give valid input. <br/>
          Nota Bene:
          <ul>
            <li>You MAY NOT use the existing env program.</li>
            <li>All changes in enviroment variables and execution must happen only in the child process.</li>
            <li>You MUST use fork/exec/wait.</li>
            <li>If a variable doesn't exist, interpret its value as a zero-length string.</li>
          </ul>
          <div>
              <h6>Useful Resources</h6>
              <ul>
                <li><a href="http://cs-education.github.io/sys/#chapter/2/section/1/activity/0">Envionrment Variables</a></li>
                <li><a href="http://www.gnu.org/software/libc/manual/html_node/Environment-Variables.html">Enviornment Variable Functions</a></li>
                <li><a href="http://man7.org/linux/man-pages/man3/string.3.html">String.h</a></li>
                <li><a href="https://www.quora.com/How-do-you-write-a-C-program-to-split-a-string-by-a-delimiter">Split A String By A Delimiter</a></li>
              </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
