<div class="row" ng-controller='ScheduleController'>
	<!-- Desktop Table -->
	<div class="small-12 medium-12 large-8 large-centered columns show-for-large-up">
		<h1>Labs</h1>
		<p>All labs are released on Thurday and due on the upcoming Wednesday 11:59pm</p>
		<table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
		      <th class="mdl-data-table__cell--non-numeric">Release Date</th>
		      <th class="mdl-data-table__cell--non-numeric">Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
			 <tr ng-repeat="lab in labs">
  		    	<td class="mdl-data-table__cell--non-numeric"><a ng-href="#lab{{$index+1}}">{{lab.name}}</a></td>
  		    	<td class="mdl-data-table__cell--non-numeric">{{lab.releaseDate}}</td>
  		    	<td class="mdl-data-table__cell--non-numeric">{{lab.dueDate}}</td>
  		    </tr>
		  </tbody>
		</table>
	</div>
	<!-- Mobile Table -->
	<div class="small-12 small-centered columns hide-for-large-up">
		<h1>Labs</h1>
		<p>All labs are released on Thurday and due on the upcoming Wednesday 11:59pm</p>
		<table width = "100%" class="mdl-data-table mdl-js-data-table" style = "margin-bottom: 5%" ng-repeat="lab in labs">
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Lab</td>
				<td><a ng-href="#lab{{$index+1}}">{{lab.name}}</a></td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Release Date</td>
				<td>{{lab.releaseDate}}</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Due Date</td>
				<td>{{lab.dueDate}}</td>
			</tr>
		</table>
	</div>
</div>
