<div class = "row" ng-controller = 'OverviewController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
    <h1>Developing in CS241</h1>
    <!--<ul class="toc">
      <h4>Contents</h4>
      <a href="#lab1/#intro">Intro</a>
      <a href="#lab1/#vms">VMs</a>
      <a href="#lab1/#svn">SVN</a>
      <a href="#lab1/#misc">Valgrind + GDB + Clang</a>
      <a href="#lab1/#attendance">Lab Attendance</a>
      <a href="#lab1/#hw0">HW0</a>
    </ul>
    -->
    <div class = "pad">
      <div id = "intro" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">How To Make Your Life Easier</h2>
        </div>
        <div id = "intro" class = "content">
            Hi there! There is usually quite a bit of confusion about ssh, VMs, coding on your own computer, etc. so we thought we would try to clear a few things up.  We would like to stress that no matter what method you use to develop code for CS241, we <strong>INSIST THAT YOU TEST ALL YOUR FINAL CODE ON YOUR VM.</strong>  The autograding environment is similar to your VM, thus even though your code “works” on your machine, it may not work on the VMs and thus for the autograder.
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "vms" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">SSH</h2>
        </div>
        <div class = "content">
          SSH is a network protocol for initiating text-based shell sessions on a remote machine. In plain English, this basically means you can access another machine remotely, sending information via the command line. SSH is normally completely text-based, but one can use something called X11 forwarding to use applications like gedit that have a graphic interface on.
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "svn" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">VMs</h2>
        </div>
        <div class = "content">
          A Virtual Machine is an emulation of a computer system.  Your personal VMs in this class are hosted somewhere on a server and are completely separate from your EWS account. You can use ssh to access your VM via the command line. (If you really love graphical interfaces, use fastX to check out how cool your VM looks!)
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "misc" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">How We Have Things Laid Out</h2>
        </div>
        <div class = "content">
          We can divide our entire development environment for the class into 3 parts: your own computer, your personal VM, and EWS.  EWS is essentially the same environment you are on when you log into one of the computers in the labs.  Your personal VM is what we showed you how to ssh into during lab, and is where you should be testing if not developing your code as well.
          <br/>
          EWS
          <pre class = "terminal">&#60NetID&#62@remlnx.ews.illinois.edu</pre>

          VM
          <pre class = "terminal">&#60NetID&#62@fa15-cs241-xxx.cs.illinois.edu</pre>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "attendance" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Developing on Windows</h2>
        </div>
        <div class = "content">
          If you would like to remotely access EWS or your 241 VM on your Windows computer, I recommend Xming and PuTTY.
          <a href = "http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY</a>
          <a href = "http://sourceforge.net/projects/xming/?source=directory">Xming</a>

          This is a great tutorial on how to use and install Xming and PuTTY. It should have all the required steps you need:
          <a href = "https://wiki.utdallas.edu/wiki/display/FAQ/X11+Forwarding+using+Xming+and+PuTTY"> Xming-PuTTY Tut</a>

          There are also great things like <strong>Sublime</strong> and <strong>Notepad++</strong> that can use <strong>SFTP</strong> to allow you to modify and save remote files.  You could also look into <strong>Cygwin</strong> or a Windows Side SVN handler (<strong>SVN Tortoise</strong>)
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "hw0" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Developing on Mac/Linux</h2>
        </div>
        <div class = "content">
          Connecting Mac/Linux is pretty easy because they share the same UNIX architecture as EWS and your VM.
          It really should just be as easy as opening a terminal and typing:
          <pre class = "terminal">ssh -X &#60Hostname&#62</pre>
          You should now be able to use programs with a graphic interface by starting them from the command line by typing for example:
          <pre class = "terminal">gedit &#60filename&#62</pre>
          gedit should then open. It really is that easy.
          Remember, you can exit ssh by using the command:
          <pre class = "terminal">logout</pre>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "hw0" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">FastX</h2>
        </div>
        <div class = "content">
          If you do not want to deal with all of that, FastX is a program that lets you have a GUI interface to a remote Linux Client.  The UofI Webstore offers it for free; check it out and see if you like it.
          <a href = "https://it.engineering.illinois.edu/user-guides/remote-access/connecting-ews-linux-fastx">FastX</a>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "hw0" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">I AM OFF CAMPUS AND CANNOT CONNECT TO THE VM, HELP!</h2>
        </div>
        <div class = "content">
          You can use a VPN (Virtual Private Network) to access on campus resources and then use Putty or SSH directly into your VM.
          <a href = "http://techservices.illinois.edu/services/virtual-private-networking-vpn/download-and-set-up-the-vpn-client">Campus VPN</a>
          <strong>OR</strong>, you can SSH twice.  First into your EWS account and then into your personal VM.

          Doing Things In Linux: Look, it works!
          <img src="./data/images/works_in_linux.png" style = "display: block; margin: 0 auto; width:80%"/>

          Doing Things In Windows: Look, it works!
          <img src="./data/images/works_in_windows.png" style = "display: block; margin: 0 auto; width:80%"/>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "hw0" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">End</h2>
        </div>
        <div class = "content">
          Of course, there are many other ways to do things too.  You could just work on your own machine or in EWS and upload all of your work to SVN and then open your VM and pull down all of your saved files and test, but we think that is tedious.  If you have anything interesting you would like to add, please post on piazza and share with your classmates; you will also be helping future students.  If anything is unclear, ask your TAs/CAs/fellow students!
        </div>
      </div>
    </div>
</div>
