<div class="row" ng-controller='HelpController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
  	<h1>CS 241: Halp Plz!</h1>
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#help/#tutoring">Peer Tutoring</a>
      <a href="#help/#piazza">Piazza</a>
      <a href="#help/#admin">CS 241 Admin</a>
      <a href="#help/#angrave">Angrave</a>
      <a href="#help/#code">Code of Conduct</a>
    </ul>
    <!-- Peer Tutoring -->
    <div class = "pad">
      <div id = "tutoring" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Peer Tutoring</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                We hold peer tutoring sessions in the basement of Siebel in the computer labs.
                You can join by adding yourself onto the <a href = "https://chara.cs.illinois.edu">Chara Queue</a> (the schedule can be found below).
                Please note that this is not CS225, so we will not do your assignments.
                This is the last class you will probably take before being thrown into 400 level courses,
                where the assignments are much harder, help is much more limited, and hand holding is negative.
            </p>
            <blockquote cite="http://www.worldwildlife.org/who/index.html">
                Give a student the answer and you feed them for a day;
                teach a student to find their own answers and you feed them for a lifetime.
            </blockquote>
            <p>
                These peer tutoring sessions will focus on diagonising misconceptions and holes in your understanding of the problem.
                This is a fairly conceptual class where your understanding of the problem will directly impact how you can implement a solution.
                If you have made it this far into the CS curriculum simply be compiling lecture notes and documentation to code,
                then you are going to have to make some serious changes in your work ethics.
                Be prepared to be asked to explain what you think your program is doing.
                Odds are that what you think your code is doing is not equivalent to what it is doing.
            </p>
            <p>
                Also this department is scaling at an exponential rate, which is great,
                since computer science is an incredible field of knowledge that will take our civilization
                to new frontiers. Unfortunately, the number of people on course staff does not scale as fast.
                This means that we can not sit next to you for 45 mins to read 800 lines of your code;
                this is peer tutoring and not a dinner date.
                We will wear stopwatches and <a href = "https://en.wikipedia.org/wiki/Round-robin_scheduling">round robin</a> between the students on the queue.
            </p>
        </div>
        <iframe src="https://www.google.com/calendar/embed?title=CS%20241%20Staff%20Calendar&amp;mode=WEEK&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=illinois.edu_rtpfqbnbvd071rcps8oougljis%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" style=" border-width:0 " width="100%" height="800px" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <!-- Piazza -->
    <div class = "pad">
      <div id = "piazza" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Piazza (Online Discussion Board): Search First. Don't Post.</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <h4>Low Effort Questions</h4>
            <p>
                We WILL NOT accept "low effort questions".
                <ul>
                    This means questions like:
                    <li>"My code doesn't work, can someone look at my subversion?"</li>
                    <li>Questions that are already answered in a pinned post</li>
                    <li>Questions that are already answered in the docs</li>
                    <li>Questions that have already been answered many times before and can easily be found by searching</li>
                    <li>Questions that provide basically no information to go off of (debugging? tests? valgrind? anything?)</li>
                </ul>
                If we find you asking too many of these low effort questions,
                then we reserve the right to remove your piazza privileges.
                Hopefully these steps will lead you to the answer you're looking for,
                or at the very least help you find the answer yourself.
                Asking on Piazza, regardless of our fast response time, should not be the first thing you do when you have a problem.
                You're here to learn; we're not going to give you the answer every time you ask.
            </p>
            <h4>Debugging</h4>
            <p>
                Have you run it in valgrind?
                Are you testing simpler cases that might show where the problem is?
                How about adding print statements or using breakpoints in gdb to figure out if you're actually getting to the code you think is running?
                Are you using the VM we provide to test the code?
                If you're getting erratic behavior, make sure you've fixed everything valgrind complains about, as what you do wrong in one place can affect a completely unrelated piece of code.
                If you ask a question, make sure that you've made some effort to find the problem.
                Be prepared to provide some valgrind log.
            </p>
            <h4>Documentation</h4>
            <p>
                A lot of questions can be answered simply by looking at the MP spec, pinned errata posts, or looking in a man page.
                Don't know where your specific question is answered?
                Use Ctrl+F with some keywords to search the page.
                Don't know how to use a function? Read the man page.
                It provides detailed info on how to use a function, and can even list some examples.
                Also note man page section 7. It's all explanations of different parts of the C library.
                There you can find how signal, epoll, and more work in practice.
            </p>
            <h4>Google Is Your Friend</h4>
            <p>
                Most questions can simply be answered by searching Piazza, or Googling your question.
                The chances are that someone has had your exact problem, and someone has answered it (especially near a due date when most people have already finished).
                Even if you don't find your exact answer, the questions you find can be close enough to what you're looking for.
                Here are some tips on googling: <a href="http://imgur.com/gallery/rNlQJuT">How to be a Google Power User</a> and <a href="http://imgur.com/gallery/hkmIT">How to get more out of Google</a>.
            </p>
            <h4>I Found Nothing. What Now?</h4>
            <p>
                If you are truly lost, can't find an answer in the docs, or in other questions, or the wide expanse of the internet, ask your question!
                <ul>
                    But provide most (if not all) of the following:
                    <li>What's the problem you're having? (And give an example)</li>
                    <li>What have you tried? Have you tested your code?</li>
                    <li>What does valgrind say? How about a gdb backtrace?</li>
                    <li>If you need to show code, don't take a screenshot. Copy it into a pre tag ("code" on the rich editor bar)</li>
                </ul>
            </p>
        </div>
      </div>
    </div>
    <!-- CS 241 Admin -->
    <div class = "pad">
      <div id = "admin" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">CS 241 Admin</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Marina is our class admin and she is in charge of all administrative items (e.g. exam sickness, DRES, 1% issues).
            If you feel your issue falls under those definitions, then please email her at cs241admin@illinois.edu and explain your scenario.
            Note: We do not provide attendance misses for labs (this is not negotiable), especially for something that is 100% in your control like "I have an interview.".
        </div>
    </div>
    <!-- Angrave -->
    <div class = "pad">
      <div id = "angrave" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Angrave</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Lawrence is available after every lecture. Other times by appointment.
            You can also drop by and look for him in the neighborhood of SC2217.
        </div>
    </div>
    <!-- Code of Conduct -->
    <h2 id = "code">Code of Conduct</h2>
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#help/#mission">Mission Statement</a>
      <a href="#help/#definitions">Definitions</a>
      <a href="#help/#diversity">Diversity Statement</a>
      <a href="#help/#reporting">Reporting Issues</a>
      <a href="#help/#attributions">Attribution &amp; Acknowledgements</a>
    </ul>
    <div class="pad">
      <div id="mission" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Mission Statement</h2>
        </div>
        <div class="mdl-card__supporting-text">
      			<p>
      				This code of conduct outlines our expectations for participants within the <b>CS 241 Office Hours</b> community, as well as steps to reporting unacceptable behavior. We are committed to providing a welcoming and inspiring community for all, including both students and fellow TAs, and expect our code of conduct to be honored. Anyone who violates this code of conduct may be banned from the community.
      			</p>
      			<p>
      				Our community strives to:
      			</p>
      			<ul class="org-ul">
      				<li><b>Be friendly and patient.</b>
      				</li>
      				<li><b>Be welcoming</b>: We strive to be a community that welcomes and supports people of all backgrounds and identities. This includes, but is not limited to members of any race, ethnicity, culture, national origin, colour, immigration status, social and economic class, educational level, sex, sexual orientation, gender identity and expression, age, size, family status, political belief, religion, and mental and physical ability.
      				</li>
      				<li><b>Be considerate</b>: Your work will be used by other people, and you in turn will depend on the work of others. Any decision you take will affect users and colleagues, and you should take those consequences into account when making decisions. Remember that we're a world-wide community, so you might not be communicating in someone else's primary language.
      				</li>
      				<li><b>Be respectful</b>:  Not all of us will agree all the time, but disagreement is no excuse for poor behavior and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack. It’s important to remember that a community where people feel uncomfortable or threatened is not a productive one.
      				</li>
      				<li><b>Be careful in the words that we choose</b>: we are a community of professionals, and we conduct ourselves professionally. Be kind to others. Do not insult or put down other participants. Harassment and other exclusionary behavior aren't acceptable.
      				</li>
      				<li><b>Try to understand why we disagree</b>: Disagreements, both social and technical, happen all the time. It is important that we resolve disagreements and differing views constructively. Remember that we’re different. The strength of our community comes from its diversity, people from a wide range of backgrounds. Different people have different perspectives on issues. Being unable to understand why someone holds a viewpoint doesn’t mean that they’re wrong. Don’t forget that it is human to err and blaming each other doesn’t get us anywhere. Instead, focus on helping to resolve issues and learning from mistakes.
      				</li>
      			</ul>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "definitions" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Definitions</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            Harassment includes, but is not limited to:
          </p>
          <ul class="org-ul">
            <li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, race, age, regional discrimination, political or religious affiliation
            </li>
            <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment
            </li>
            <li>Deliberate misgendering. This includes deadnaming or persistently using a pronoun that does not correctly reflect a person's gender identity. You must address people by the name they give you when not addressing them by their username or handle
            </li>
            <li>Physical contact and simulated physical contact (eg, textual descriptions like “*hug*” or “*backrub*”) without consent or after a request to stop
            </li>
            <li>Threats of violence, both physical and psychological
            </li>
            <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm
            </li>
            <li>Deliberate intimidation
            </li>
            <li>Stalking or following
            </li>
            <li>Harassing photography or recording, including logging online activity for harassment purposes
            </li>
            <li>Sustained disruption of discussion
            </li>
            <li>Unwelcome sexual attention, including gratuitous or off-topic sexual images or behaviour
            </li>
            <li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others
            </li>
            <li>Continued one-on-one communication after requests to cease
            </li>
            <li>Deliberate “outing” of any aspect of a person’s identity without their consent except as necessary to protect others from intentional abuse
            </li>
            <li>Publication of non-harassing private communication
            </li>
          </ul>
          <p>
            Our community prioritizes marginalized people’s safety over privileged people’s comfort. We will not act on complaints regarding:
          </p>
          <ul class="org-ul">
            <li>‘Reverse’ -isms, including ‘reverse racism,’ ‘reverse sexism,’ and ‘cisphobia’
            </li>
            <li>Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this with you”
            </li>
            <li>Refusal to explain or debate social justice concepts
            </li>
            <li>Communicating in a ‘tone’ you don’t find congenial
            </li>
            <li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "diversity" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Diversity Statement</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            We encourage everyone to participate and are committed to building a community for all. Although we will fail at times, we seek to treat everyone both as fairly and equally as possible. Whenever a participant has made a mistake, we expect them to take responsibility for it. If someone has been harmed or offended, it is our responsibility to listen carefully and respectfully, and do our best to right the wrong.
          </p>
          <p>
            Although this list cannot be exhaustive, we explicitly honor diversity in age, gender, gender identity or expression, culture, ethnicity, language, national origin, political beliefs, profession, race, religion, sexual orientation, socioeconomic status, and technical ability. We will not tolerate discrimination based on any of the protected characteristics above, including participants with disabilities.
          </p>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "reporting" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Reporting Issues</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            If you experience or witness unacceptable behavior—or have any other concerns—please report it by contacting us via tfliu2@illinois.edu or angrave@illinois.edu. All reports will be handled with discretion. In your report please include:
          </p>
          <ul class="org-ul">
            <li>Your contact information.
            </li>
            <li>Names (real, nicknames, or pseudonyms) of any individuals involved. If there are additional witnesses, please include them as well. Your account of what occurred, and if you believe the incident is ongoing. If there is a publicly available record (e.g. a mailing list archive or a public IRC logger), please include a link.
            </li>
            <li>Any additional information that may be helpful.
            </li>
          </ul>
          <p>
            After filing a report, a representative will contact you personally, review the incident, follow up with any additional questions, and make a decision as to how to respond. If the person who is harassing you is part of the response team, they will recuse themselves from handling your incident. If the complaint originates from a member of the response team, it will be handled by a different member of the response team. We will respect confidentiality requests for the purpose of protecting victims of abuse.
          </p>
        </div>
      </div>
    </div>
    <div class = "pad">
      <div id = "attributions" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Attribution &amp; Acknowledgements</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            We all stand on the shoulders of giants across many open source communities.  We'd like to thank the communities and projects that established code of conducts and diversity statements as our inspiration:
          </p>
          <ul class="org-ul">
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__www.djangoproject.com_conduct_reporting_&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=b4iVZXlX89cEGtnaWzOYL0QzFqFzxm09DW8uFeqfJ1o&e=">Django</a>
            </li>
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__www.python.org_community_diversity_&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=qAdDZYzHkES1o86RIy1GCBFaR2yyi-whSw6D4NiQzWk&e=">Python</a>
            </li>
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__www.ubuntu.com_about_about-2Dubuntu_conduct&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=v1IGRShM6e2RHqMgUs1J28Wg345mtkFcaCq6pXR1WTY&e=">Ubuntu</a>
            </li>
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__contributor-2Dcovenant.org_&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=x9rxt-PDnLjdBJ3MpSo9hSz2O3LFienCM9U-fPCUBCs&e=">Contributor Covenant</a>
            </li>
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__geekfeminism.org_about_code-2Dof-2Dconduct_&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=tl_aBtlB8qAvEpTrYwJfmvhN7sPlE1qTiik8IbdFDwI&e=">Geek Feminism</a>
            </li>
            <li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__citizencodeofconduct.org_&d=AwMGaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=n15NRbELKi4c9IZ24zsJpLobQUgHL5c0bJeAzJtwmIY&m=jBYOnNHkMlVaAjYW_pHtBCkYQQfkEv8DDISfTnvUqNo&s=iGYeVxhJE_J5_k-MZHslPttj_sqXXuYip90qNPFICmo&e=">Citizen Code of Conduct</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
