<div class="row" ng-controller='MPController'>
	<!-- Desktop Table -->
	<div class="small-12 medium-12 large-8 large-centered columns show-for-large-up">
		<h1>Machine Problems</h1>
		<p>All MPs are released Sunday and they are due on Mondays 11:59pm</p>
		<table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">MP</th>
		      <th class="mdl-data-table__cell--non-numeric">Release Date</th>
		      <th class="mdl-data-table__cell--non-numeric">Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
			 <tr ng-repeat="mp in mps">
  		    	<td class="mdl-data-table__cell--non-numeric"><a ng-href="./mps/mp{{$index}}">{{mp.name}}</a></td>
  		    	<td class="mdl-data-table__cell--non-numeric">{{mp.releaseDate}}</td>
  		    	<td class="mdl-data-table__cell--non-numeric">{{mp.dueDate}}</td>
  		    </tr>
		  </tbody>
		</table>
	</div>
	<!-- Mobile Table -->
	<div class="small-12 small-centered columns hide-for-large-up">
		<h1>Machine Problems</h1>
		<p>All MPs are released Sunday and they are due on Mondays 11:59pm</p>
		<table width = "100%" class="mdl-data-table mdl-js-data-table" style = "margin-bottom: 5%" ng-repeat="mp in mps">
			<tr>
				<td class="mdl-data-table__cell--non-numeric">MP</td>
				<td><a ng-href="./mps/mp{{$index}}">{{mp.name}}</a></td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Release Date</td>
				<td>{{mp.releaseDate}}</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Due Date</td>
				<td>{{mp.dueDate}}</td>
			</tr>
		</table>
	</div>
</div>
