<div class = "row" ng-controller = 'OverviewController'>
  <div class="small-12 medium-12 large-8 large-centered columns">
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#overview/#description">Course Description</a>
      <a href="#overview/#skills">Skills Earned</a>
      <a href="#overview/#learninggoals">Learning Goals</a>
      <a href="#overview/#resources">Resources</a>
      <a href="#overview/#grading">Grading</a>
      <a href="#overview/#howtosucceed">How to succeed</a>
      <a href="#overview/#autograder">Autograder Policy</a>
      <a href="#overview/#integrity">Academic Integrity</a>
    </ul>
    <div class = "pad">
      <div id = "description" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style = "color: white">Course Description</h2>
        </div>
        <div class="mdl-card__supporting-text">
          System programming refers to writing code that tasks advantage of operating system support for programmers.
          This course is designed to introduce you to system programming.
          A computer needs an operating system to manage its resources and provide support for common functions such as accessing peripherals.
          There are two categories of "customers" that an operating system must support.
          The first category is the community of users.
          We have all used computers and you may recognize operating systems' functions such as creating folders (directories) and moving files around.
          These are examples of operating system support for users.
          User support is not the objective of this course.
          This course addresses operating system support for the second category of customers; namely, the programmers.
          Those are people who write code to execute on the computer.
          When you write a program, it may have to interact with physical hardware (memory, flash storage, screen, network, etc.).
          For example, you may want to get input from a keyboard or mouse, you may want to read some configuration file stored on disk, you may want to output data to a screen or printer, or you may want to access a remote server across a network.
          The operating system presents common interfaces for programmers to perform these functions.
          The operating system also provides useful abstractions such as "tasks" (also called processes), "threads", and "semaphores".
          You can make the computer multitask by calling the operating system interface for creating new tasks or new threads.
          You can make these tasks coordinate and synchronize by using operating system semaphores.
          You can tell the computer the order in which you want tasks to be executed, which is called a scheduling policy.
          Finally, you can manage computer memory by calling the operating system function for memory management.
        </div>
        <div class="mdl-card__actions mdl-card--border">
        </div>
      </div>
    </div>

    <div class = "pad">
      <div id = "skills" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #00bcd4">
          <h2 class="mdl-card__title-text" style = "color: white">Skills Earned</h2>
        </div>
        <div class="mdl-card__supporting-text">
          By the end of this course, you should be proficient at writing programs that take full advantage of operating system support.
          To be concrete, we need to fix an operating system and we need to choose a programming language for writing programs.
          We chose the C language running on a Linux/UNIX operating system (which implements the POSIX standard interface between the programmer and the OS).
          This pairing of C and UNIX/Linux is used heavily by software that must provide high performance and low-level control of the program's execution.
          Hence, this course introduces you to systems programming via the specific case of C over UNIX.
          By the end of the course you should be proficient with this programming environment and should be able to write non-trivial pieces of software from web server code to your own multiplayer Internet games.
          <!-- More specifically, after taking this course you should be able to accomplish the following: -->
        </div>
     </div>
    </div>
    <div class = "pad">
      <div id = "learninggoals" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #00bcd4">
          <h2 class="mdl-card__title-text" style = "color: white">Learning Goals</h2>
        </div>
        <div class="mdl-card__supporting-text">
			<p>Learning Goals include the following</p>
            <p>
              <ul>
                <li>Identify the basic components of an operating system, describe their purpose, and explain how they function.</li>
                <li>Write, compile, debug, and execute C programs that correctly use system interfaces provided by UNIX (or a UNIX-like operating system).</li>
                <li>Be familiar with important UNIX system calls and invoke them correctly from within C programs.</li>
                <li>Describe the difference between programs, processes, and threads.</li>
                <li>Explain the meaning and purpose of process control blocks and other mechanisms that the operating system uses to implement the process and thread abstractions.</li>
                <li>Write, compile, debug, and execute C programs that create, manage and terminate processes and threads on UNIX.</li>
                <li>Define concurrency and explain the problems that may arise because of concurrent execution of multiple processes or threads. Explain how these problems can be avoided. Write code that avoids these problems.</li>
                <li>Define semaphores, mutexes, and other synchronization primitives, explain their purpose, and describe their internal implementation.</li>
                <li>Describe possible problems that arise from improper use of synchronization primitives (such as deadlocks) and present their solutions.</li>
                <li>Write, compile, debug, and execute C programs that use UNIX synchronization primitives.</li>
                <li>Describe operating system scheduling and use UNIX interfaces to set and modify scheduling policy parameters.</li>
                <li>Define UNIX signals and signal handlers, and describe their use.</li>
                <li>Write, compile, debug, and execute C programs with processes and threads that interact by invoking and catching signals.</li>
                <li>Describe, configure, and use operating system timers and clocks.</li>
                <li>Describe the concepts of I/O devices, files, directories.</li>
                <li>Explain the internal implementation of files systems and operating system I/O.</li>
                <li>Write, compile, debug, and execute C programs that use files and I/O on UNIX.</li>
                <li>Describe the machine memory hierarchy, describe its components such as caches and virtual memory, and explain memory management mechanisms pertaining to these components such as paging and segmentation.</li>
                <li>Write, compile, debug, and execute C programs that make use of memory management functions.</li>
                <li>Describe the protocols (such as TCP and IP) and interfaces (such as sockets) used for communication among different computers.</li>
                <li>Write distributed applications that communicate across a network.</li>
              </ul>
            </p>
        </div>
      </div>
    </div>

    <div class = "pad">
      <div id = "resources" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #009688">
          <h2 class="mdl-card__title-text" style = "color: white">Resources</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                A really useful, accessible introduction to system programming is Angrave&apos;s <a href="https://github.com/angrave/SystemProgramming/wiki">CS 241 Crowd-Sourced Wikibook</a>.
            </p>
            <p>
                Angrave&apos;s mini searchable video-introduction and playful <em>system programming-in-the-browser</em> environment is at:<br/>
                <a target="_blank" href="http://cs-education.github.io/sys/">cs-education.github.io/sys/</a>  (Firefox and Chrome recommended).
            </p>
            No formal textbook is required but if you really want to buy some books we recommend the following custom book Angrave put together in 2007:
            <pre>
                Introduction to Systems Concepts and Systems Programming
                University of Illinois Custom Edition
                Copyright 2007 by Pearson Custom Publishing
                ISBN 0-536-48928-9
            </pre>
        </div>
        <div class="mdl-card__actions mdl-card--border">

        </div>
      </div>
    </div>

    <div class = "pad">
      <div id = "grading" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #64dd17">
          <h2 class="mdl-card__title-text" style = "color: white">Grading</h2>
        </div>
        <div class="mdl-card__supporting-text">
          The following is subject to minor changes.
          <pre>
              Final Exam : 25%
              Midterm 1  : 10%
              Midterm 2  : 10%
              M/C Quizzes: 13%

              MP Programming Assignments : 25%
              Lab Programming Assignments: 13%

              Lab Attendance &amp; other items: 4%
          </pre>
          <p>
              Course grades:  We publish the following thresholds: 92: A-   82: B-   72: C- <br/><br/>
              If grade results are significantly postponed due to an internal publishing or IT problem,
              then regrades may be extended to the following day.
              All lab programming assignments are equally weighted, while the mp programming assignments are weighted by the time we give to complete them. 
              There are multiple choice quizzes at the DCL testing center approximately every other week.
              There will be two graded programming midterms where you will be asked to create
              programs similar to the MPs and labs using a standard Linux machine with local tools (gedit,vim,gcc,man,make,bash terminal etc) but in an exam environment. Runnable tests will be provided.
              The quizzes and midterms will be in the basement of DCL and you will be asked to register for a time slot that works for you.
              The signup link is <a href="https://edu.cs.illinois.edu/testcenter/" target="_blank">here</a> (Chrome recommended).
              For grading we will drop your lowest quiz score, lowest lab score and 1 lab attendance.
              Sickness/ vacation / sleep - whatever - we don&apos;t care.
              Unless exceptions (which are almost never granted) have been arranged with the course admin (cs241admin@illinois.edu) or Director of Undergrad studies:
              Miss 3+ sections or 3+ quizzes is automaticaully a failing grade.
          </p>
          <p>
              The 3 hour handwritten final exam is comprehensive and will test all CS241 topics including programming topics covered in the MP and Labs.
              Do not book your flights until the exam date is known.
              Early exams will not be offered.
              Conflict final exams will be offered if you have 3 exams in a 24 hour period or you have an exam in another, smaller enrollment course at the same time.
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          Grading issues should be raised with your TA e.g. during section or by email. Missing scores need to be reported on or before the next section.
        </div>
      </div>
    </div>



    <div class = "pad">
      <div id = "howtosucceed" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #64dd17">
          <h2 class="mdl-card__title-text" style = "color: white">How to succeed</h2>
        </div>
        <div class="mdl-card__supporting-text">
<p>Is this course hard!? Yes but you are bright and you're taking computer science at UIUC - just schedule the time to do it right. The two big changes from CS225: One your code is now much smaller than the complexity of the system around it. Secondly, no we will not debug your code for you.</p>
<p>How to fail: Some students do not take the time to learn how to debug and reason about system code and then end up complaining that office hours is too busy before deadlines. If you can't write correct solutions you need to learn <em>exactly</em> how C works, the <em>details</em> of the system calls you are using, learn <em>better debugging</em> skills and <em>reason</em> about synchronization. Only then can you spot and fix mistakes. Hard? Yes. Impossible? No.</p>
<p>There are no short cuts to mastery but we can help you get there. We recommend the Feynman technique to learning. Remember, simply recognizing some text in a past exam or in the wikibook is not mastery of those concepts! Find ways to deeply engage your brain with the ideas by working actively with those ideas. Yes this requires effort. Start the assignments early - expect to get stuck. Write code <em>slowly</em>; reason about every line of code you write. Experiment with your own mind hacks so that you have fun spending 'time on task' with these materials.</p>
        </div>
      </div>
    </div>


    <div class = "pad">
      <div id = "autograder" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #6644CC">
          <h2 class="mdl-card__title-text" style = "color: white">Autograding Policy</h2>
        </div>
        <div class="mdl-card__supporting-text">
<p>You walk into the investor meeting ready to show your demo. You ship your code ready for a million Internet of Things. You deploy your code to the Internet backbone. It had better compile and be functional. Forgot to commit or your committed code that does not compile? Zero. The basic headline is that you're not in Kansas anymore (to quote Dorothy), and have some pride with your work and don't leave it until the last minute. We will test your code on a multi-core machine; testing on your own laptop is insufficient. Don't be surprised if race conditions that go undetected in a different machine cause your code to fail. We encourage you to develop and test your code on your CS241 VM (which is near identical to the grading machine). We will attempt to give you some partial credit if your code passes the tests but for that it is your responsibility to fully read and understand the specification.</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
        </div>
      </div>
    </div>

    <div class = "pad">
      <div id = "integrity" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style = "background-color: #889600">
          <h2 class="mdl-card__title-text" style = "color: white">Academic Integrity</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                CS241 is considered a critical step in your ability to create useful programs for your later classes and beyond. Unfortunately for grading purposes, a minority of students submit code that was created by others.
                Cheating is taken very seriously in CS 241 and all cases of cheating will be brought to the University, your department, and your college.
                You should understand how <a href="https://wiki.cites.illinois.edu/wiki/display/undergradProg/Honor+Code">academic integrity</a> applies to Computer Science courses.
            </p>
            <p>
                <ul>One method to help demonstrate that you developed code is to make commit your code often so that you can show a reasonable development history.</ul>

                <ul>
                    If you are caught cheating on an assignment and it was your first offense in the department, then you will lose all points for the assignment <strong>and</strong> your final course grade will usually be lowered by one whole letter grade (but see paragraph below). For second infactractions the department and your college may impose much stronger sanctions including suspension from the university. Please take this warning seriously.
                </ul>
                <ul>We use sophisticated detection mechanisms that identify cheaters. Be warned that attempts to avoid detection (e.g. changing variable names, spacing, ordering) will simply identify the student as a cheater who is also aware that they are cheating and are attempting to avoid detection. This usually leads to a greater sanction.
                </ul>
            </p>
            <p>
                <span style="color:green">Rule of Thumb</span> - If at any point you submit an assignment that does not reflect your understanding of the material, then you have probably cheated.
            </p>
            <p>
                <span style="color:red">EVERY ASSIGNMENT IS A SOLO ASSIGNMENT IN THIS CLASS!</span>.
                This means you are not allowed to split the work with a partner unlike other 2xx classes.
                You are however allowed to discuss the assignments at a very high level.
            </p>
            <p>
                Additionally, you may not publish your solutions or leave them in 'plain view' thereby leaving your programs open to copying, which constitutes cheating.
                If your code (or a variation of it) is found publicy accesible, then you will receive a letter grade reduction for each assignment.
                For example, if we find your code on GitHub for one MP then you will receive a letter grade reduction. 2 letter grades for 2 assignments and so on.
                If you are confused on what it means to be 'publicly accessible', then do not put your code anywhere besides https://subversion.ews.illinois.edu and take measures to ensure that nobody can copy your code, so that you are not charged with a violation.
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          We want you to get the most out your education and cheating not only affects your peers but also you.
        </div>
      </div>
    </div>

  </div>
</div>
