<div class="row ng-scope" ng-controller="OverviewController">
  <div class="small-12 medium-12 large-8 large-centered columns">
    <h1>Chatroom</h1>
    <!-- <h2>DO NOT START LAB UNLESS TOLD TO DO SO! (WE MIGHT CHANGE THE SPECS)</h2> -->
    <ul class="toc">
      <h4>Contents</h4>
      <a href="#lab13/#objectives">Learning Objectives</a>
      <a href="#lab13/#setup">Setup</a>
      <a href="#lab13/#goal">Goal</a>
      <a href="#lab13/#client">Client</a>
      <a href="#lab13/#server">Server</a>
      <a href="#lab13/#error">Error Checking</a>
      <a href="#lab13/#testing">Testing</a>
      <a href="#lab13/#grading">Grading</a>
    </ul>
    <!-- Learning Objectives -->
    <div class="pad">
      <div id="objectives" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Learning Objectives</h2>
        </div>
        <div class="content">
          <ul>
              <li>Networking Components</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Setup -->
    <div class="pad">
      <div id="setup" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Setup</h2>
        </div>
        <div class="content">
          <br>
          First update svn
          <pre class="terminal">
cd ~/cs241
svn up
cd chatroom
          </pre>
        </div>
      </div>
    </div>

<!-- Goal -->
    <div class="pad">
      <div id="goal" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Goal</h2>
        </div>
        <div class="content">
          <p>
              The goal of this lab is to help you understand networking components.  You will accomplish this by writing the code for a server and client such that the client can connect to the server and the server can recieve data from multiple clients.  The files you must modify are <strong> client.c, server.c, and questions.txt </strong>.  Client.c and Server.c provide an outline of what to do via a reference to a question in questions.txt.  For example, if you see /*QUESTION 1*/ then question 1 in questions.txt should help you understand what to do in  that part of the code. 
              <br/><strong>Be sure to answer the questions in questions.txt</strong>
          </p>
        </div>
      </div>
    </div>

    <!-- Client -->
    <div class="pad">
      <div id="client" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Client</h2>
        </div>
        <div class="content">
          <p>
            Your client will accept two arguments: a host address and a port number.  The client program should attempt to connect to the given port at the given address.  If either argument is missing print a  helpful message and exit.  Set up yor connection to be TCP and IPv4.  Your program should read input  from stdin and send it to the server it connected to.  A string starting with <strong>!</strong> will be sent to stdin as a flag to tell your client to exit.  To be more exact, if while reading from stdin you read in a string that starts with <strong>!</strong>, free memory and close the client program.
          </p>
        </div>
      </div>
    </div>

    <!-- Server -->
    <div class="pad">
      <div id="server" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Server</h2>
        </div>
        <div class="content">
          <p>
            Your server will accept a single argument: a port number.  If the argument is not provided, print a helpful message and exit.  Set up your server to work with TCP, IPv4, and be able to and be able to reuse ports.  Your server should accept multiple connections.  We have provided you with the function <strong>processClient</strong> to handle reading from each client. You will need to implement this function, but we have already started it (hint: you will need threads).  Your server should continue to read bytes from the clients and print said bytes to stdout. You will know when you have recieved a string from the client when you read a newline character. Lastly, your server should close when SIGINT is sent to the program.  This means you will need to implement the signal handler.
          </p>
        </div>
      </div>
    </div>


    <!-- Error Checking -->
    <div class="pad">
      <div id="error" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Error Checking</h2>
        </div>
        <div class="content">
          <h6>Networks Break!</h6>
          <p>
            Many things can go wrong when working with networks.  Be sure to do lots of error checking! If anything should go wrong, print the error message and <strong>exit(1)</strong>.  For each networking function call (except one of them) that you will be using, you should use <strong> perror(NULL)</strong>.  For the one that you cannot use perror on, use the man pages (man pages are important) to learn how to print the error.  You must figure how which function does not set errno upon failure and thus you cannot use perror.
          </p>
        </div>
      </div>
    </div>


    <!-- Testing -->
    <div class="pad">
      <div id="testing" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Testing</h2>
        </div>
        <div class="content">
          <h6>We provided you with a Makefile.</h6>
          <p>
              You can run the client and server as follows:
              <pre class="terminal">./client &#60address&#62 &#60port&#62</pre>
              <pre class="terminal">./server &#60port&#62</pre>

              Test your server and client with a friend!  On your VMs you can connect to each others' machines.  Just ask them what their machine number is!
              <pre class="terminal">
$ ./server 12345
Waiting for connection...
Connection made: client_fd=4
hello there!
more bytes
^CEnding Server
              </pre>
              <pre class="terminal">
$ ./client fa15-cs241-XYZ.cs.illinois.edu 12345
hello there!
sending bytes
!
Closing Client
              </pre>
              In the above "terminals", there are things like "Waiting for connection..." and "Ending Server": do not worry about having to do this.  It is simply flavor text printed to stderr to look nice.  You only need to print the bytes recieved from the client to stdout.
              <br/>
              <strong>You should not have any memory leaks</strong>
          </p>
        </div>
      </div>
    </div>

    <!-- Grading -->
    <div class="pad">
      <div id="grading" class="mdl-card mdl-shadow--2dp large-card">
        <div class="mdl-card__title" style="background-color: #03a9f4">
          <h2 class="mdl-card__title-text" style="color: white">Grading</h2>
        </div>
        <div class="content">
            The coding portion of your grade is (subject to change)
            <ul>
                <li>Questions must be answered</li>
                <li>Client must work</li>
                <li>Server must work</li>
                <li>Errors must be handled</li>
                <li>No memory leaks</li>
            </ul>
            Your total lab grade will be some linear combination of the coding portion, questions, and attending lab.
        </div>
      </div>
    </div>

  </div>
</div>
